:root {
    --c1: hsl(0, 0%, 20%);
    --darkC1: hsl(0, 0%, 10%);
    --c2: hsl(0, 0%, 100%);
    --darkC2: hsl(0, 0%, 80%);
    --altC1: hsla(196, 67%, 45%, 0.6);
    --darkAltC1: hsla(196, 67%, 35%, 0.6);
}

body {
    background-color: var(--c1);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
}

.tree-picture {
   width: 100%;
   height: 200px;
   align-self: center;
   object-fit: cover;
}

.selector {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.75em;
}

.stnd-image {
     object-fit: cover;
     height: 125px;
}

.inline-button {
    font-size: 1em;
}

.thermography-content-container {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    gap: 10px;
    height: 1010px;
    
}

.thermography-content-container .grid-item1 { /*how does it work*/
    grid-area: 1 / 5 / 6 / 11;
    font-size: 1.5em;
}

.thermography-content-container .grid-item2 { /*Chronic Illness*/
    grid-area: 8 / 1 / 11 / 5;
    font-size: 1.3em;
}

.thermography-content-container .grid-item3 { /* Unlike Other*/
    grid-area: 1 / 1 / 3 / 5;
    font-size: 1.3em;
}


.thermography-content-container .grid-item4 { /* What is it like*/
    grid-area: 6 / 5 / 11 / 9;
    font-size: 1.5em;
}

.thermography-content-container .grid-item5 { /* Quote */
    grid-area: 3 / 1 / 3 / 5;
    font-size: 1.7em;
}

#family-image {
   grid-area: 1 / 1 / 5 / 3;
}

#body-thermal-image {
    grid-area: 6 / 9 / 11 / 11;
    width: 180px;
}

.subheading {
    color: var(--altC1);
    text-align: center;
}

.transition-container {
    background-color: var(--altC1);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
}

.page-container {
    background-color: var(--c2);
    color: var(--c1);
    margin: 50px 25px 50px 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 1000px;
}

.title-container {
    text-align: center;
}

.title {
    font-size: 4em;
}

.homepage-container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 5px 10px;
    align-items: baseline;
}

.text-block {
    margin: 5px 20px 5px 20px;
    height: 100%;
    font-size: 1.5em;
}

.button1 {
    background-color: var(--altC1);
    color: var(--c2);
    border-radius: 10px;
    border: 0px;
    transition: box-shadow 200ms;
}

.button1:hover {
    background-color: var(--darkAltC1);
    box-shadow: 2px 2px hsl(0, 0%, 20%);
}