:root {
    --c1: hsl(0, 0%, 20%);
    --darkC1: hsl(0, 0%, 10%);
    --c2: hsl(0, 0%, 90%);
    --darkC2: hsl(0, 0%, 80%);
    --altC1: hsl(120, 40%, 50%);
    --darkAltC1: hsl(120, 40%, 40%);
    --altC2: hsl(240, 40%, 50%);
    --darkAltC2: hsl(240, 40%, 40%);
}

body {
    background-color: var(--c1);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
}

.page-container {
    background-color: var(--c2);
    color: var(--c1);
    margin: 50px 25px 50px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title-container {
    text-align: center;
}

.title {
    font-size: 3em;
}

.homepage-container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 5px 10px;
    align-items: baseline;
}

.text-block {
    text-align: center;
}

.button1 {
    background-color: var(--altC2);
    color: var(--c2);
    font-size: 1.5em;
    border-radius: 10px;
    border: 0px;
    transition: box-shadow 200ms;
}

.button1:hover {
    background-color: var(--darkAltC2);
    box-shadow: 2px 2px hsl(0, 0%, 20%);
}